<footer
class="rishi-footer"
id="rishi-footer"
itemtype="https://schema.org/WPFooter"
itemscope>
<div class="footer-top-row hidden">
    <div class="row-wrapper vertical-flex-start">
        <div class="col-wrapper col-vertical"></div>
        <div class="col-wrapper col-vertical"></div>
    </div>
</div>
<div class="footer-middle-row">
    <div class="row-wrapper vertical-flex-start">
        <div class="col-wrapper col-vertical">
            <div
                class="rishi-footer-widgets-one"
                id="rishi-footer-widgets-one">
                <section
                    id="block-12"
                    class="widget widget_block widget_text">
                    <p style="font-size: 16px">
                        At Your Natural Health, our mission is to harness the power
                        of science and technology to empower patients, clinicians,
                        and researchers in the fight against cancer.
                    </p>
                </section>
            </div>
        </div>
        <div class="col-wrapper col-vertical">
            <div
                class="rishi-footer-widgets-two"
                id="rishi-footer-widgets-two">
                <section
                    id="nav_menu-1"
                    class="widget widget_nav_menu">
                    <h2
                        class="widget-title"
                        itemprop="name">
                        Quick links
                    </h2>
                    <div class="menu-footer-menu-2-container">
                        <ul
                            id="menu-footer-menu-2"
                            class="menu">
                            <li
                                id="menu-item-60"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4661 current_page_item menu-item-60">
                                <a
                                    href="/"
                                    aria-current="page"
                                    >Home</a
                                >
                            </li>
                            <li
                                id="menu-item-61"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
                                <a href="/about">About</a>
                            </li>
                            <li
                                id="menu-item-62"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62">
                                <a href="/services">Services</a>
                            </li>
                            <li
                                id="menu-item-63"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                                <a href="/teams">Teams</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-wrapper col-vertical">
            <div
                class="rishi-footer-widgets-four"
                id="rishi-footer-widgets-four">
                <section
                    id="block-15"
                    class="widget widget_block">
                    <h2
                        class="wp-block-heading has-medium-font-size"
                        id="opening-hours">
                        Contact Details
                    </h2>
                </section>
                <section
                    id="block-16"
                    class="widget widget_block widget_text">
                    <p style="font-size: 16px">
                        <strong>Phone: </strong
                        ><a href="tel:+16175455070">+16175455070</a>
                    </p>
                </section>
                <section
                    id="block-20"
                    class="widget widget_block widget_text">
                    <p style="font-size: 16px">
                        <strong>Email: </strong
                        ><a href="mailto:michaeltsilva@gmail.com">michaeltsilva@gmail.com</a>
                    </p>
                </section>
                <section
                    id="block-22"
                    class="widget widget_block widget_text">
                    <p>
                        <strong>Address 1:</strong> 5A, 9 Floor, B-Wing, CGO
                        Complex, Jawaharlal Nehru Stadium Marg, New Delhi, India
                    </p>
                </section>
                <section
                    id="block-23"
                    class="widget widget_block widget_text">
                    <p>
                        <strong>Address 2:</strong> 501 CRAWFORD ST HOUSTON; TX 77002
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-row">
    <div class="row-wrapper vertical-flex-start">
        <div class="col-wrapper col-vertical">
            <div
                id="rishi-copyrights"
                class="horizontal-flex-start vertical-flex-start">
                <div class="rishi-footer-copyrights">
                    <p>
                        Copyright © 2025
                        <a href="/">Your Natural Health</a> -All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-wrapper col-vertical"></div>
    </div>
</div>
</footer>
</div>
<!-- #page -->
<button
class="to_top top-type-1 top-shape-square top-align-right top-scroll-filled"
aria-label="Back to top">
<svg
width="17"
height="20"
viewBox="0 0 17 20"
fill="none"
xmlns="http://www.w3.org/2000/svg">
<path
    d="M2.18457 6.2L8.5179 1.13333M8.5179 1.13333L14.8512 6.2M8.5179 1.13333V18.8667"
    stroke="currentColor"
    stroke-width="2"
    strokeLinecap="round"
    strokeLinejoin="round" />
</svg>
</button>
<script type="text/javascript">
const lazyloadRunObserver = () => {
const lazyloadBackgrounds = document.querySelectorAll(
    `.e-con.e-parent:not(.e-lazyloaded)`
);
const lazyloadBackgroundObserver = new IntersectionObserver(
    (entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                let lazyloadBackground = entry.target;
                if (lazyloadBackground) {
                    lazyloadBackground.classList.add('e-lazyloaded');
                }
                lazyloadBackgroundObserver.unobserve(entry.target);
            }
        });
    },
    { rootMargin: '200px 0px 200px 0px' }
);
lazyloadBackgrounds.forEach((lazyloadBackground) => {
    lazyloadBackgroundObserver.observe(lazyloadBackground);
});
};
const events = ['DOMContentLoaded', 'elementor/lazyload/observe'];
events.forEach((event) => {
document.addEventListener(event, lazyloadRunObserver);
});
</script>
<script
src="wp-includes/js/imagesloaded.minbb93.js?ver=5.0.0"
id="imagesloaded-js"></script>
<script
src="wp-includes/js/masonry.min3a05.js?ver=4.2.2"
id="masonry-js"></script>
<script
src="wp-includes/js/dist/hooks.min4fdd.js?ver=4d63a3d491d11ffd8ac6"
id="wp-hooks-js"></script>
<script
src="wp-includes/js/dist/i18n.minc33c.js?ver=5e580eb46a90c2b997e6"
id="wp-i18n-js"></script>
<script id="wp-i18n-js-after">
wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
</script>
<script
src="wp-content/plugins/contact-form-7/includes/swv/js/index1eb7.js?ver=6.0.3"
id="swv-js"></script>
<script id="contact-form-7-js-before">
var wpcf7 = {
api: {
    root: 'https:\/\/axlshivherbalmagic.com\/wp-json\/',
    namespace: 'contact-form-7\/v1',
},
};
</script>
<script
src="wp-content/plugins/contact-form-7/includes/js/index1eb7.js?ver=6.0.3"
id="contact-form-7-js"></script>
<script
src="wp-content/plugins/rishi-companion/build/stickyHeader6077.js?ver=9c5abbf27b32bd6df1d0"
id="rishi-sticky-header-js"></script>
<script
src="wp-content/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min3958.js?ver=0.2.1"
id="jquery-numerator-js"></script>
<script
src="wp-content/plugins/mega-elements-addons-for-elementor/includes/widgets/meafe-counter/counter6f3e.js?ver=1.3.0"
id="meafe-counter-js"></script>
<script id="rishi-custom-js-extra">
var rishi_ajax = {
url: 'https:\/\/axlshivherbalmagic.com\/wp-admin\/admin-ajax.php',
startPage: '1',
maxPages: '0',
nextLink: 'https:\/\/axlshivherbalmagic.com\/page\/2\/',
autoLoad: 'numbered',
bp_layout: 'classic',
rtl: '',
plugin_url: 'https:\/\/axlshivherbalmagic.com\/wp-content\/plugins',
};
</script>
<script
src="wp-content/themes/rishi/dist/custom/custom3424.js?ver=05b5dc0ddfedcebcc9ac"
id="rishi-custom-js"></script>
<script
src="wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.minaad7.js?ver=3.18.2"
id="elementor-pro-webpack-runtime-js"></script>
<script
src="wp-content/plugins/elementor/assets/js/webpack.runtime.min1c88.js?ver=3.26.4"
id="elementor-webpack-runtime-js"></script>
<script
src="wp-content/plugins/elementor/assets/js/frontend-modules.min1c88.js?ver=3.26.4"
id="elementor-frontend-modules-js"></script>
<script id="elementor-pro-frontend-js-before">
var ElementorProFrontendConfig = {
ajaxurl: 'https:\/\/axlshivherbalmagic.com\/wp-admin\/admin-ajax.php',
nonce: '01bc870edb',
urls: {
    assets: 'https:\/\/axlshivherbalmagic.com\/wp-content\/plugins\/elementor-pro\/assets\/',
    rest: 'https:\/\/axlshivherbalmagic.com\/wp-json\/',
},
shareButtonsNetworks: {
    facebook: { title: 'Facebook', has_counter: true },
    twitter: { title: 'Twitter' },
    linkedin: { title: 'LinkedIn', has_counter: true },
    pinterest: { title: 'Pinterest', has_counter: true },
    reddit: { title: 'Reddit', has_counter: true },
    vk: { title: 'VK', has_counter: true },
    odnoklassniki: { title: 'OK', has_counter: true },
    tumblr: { title: 'Tumblr' },
    digg: { title: 'Digg' },
    skype: { title: 'Skype' },
    stumbleupon: { title: 'StumbleUpon', has_counter: true },
    mix: { title: 'Mix' },
    telegram: { title: 'Telegram' },
    pocket: { title: 'Pocket', has_counter: true },
    xing: { title: 'XING', has_counter: true },
    whatsapp: { title: 'WhatsApp' },
    email: { title: 'Email' },
    print: { title: 'Print' },
},
facebook_sdk: { lang: 'en_US', app_id: '' },
lottie: {
    defaultAnimationUrl:
        'https:\/\/axlshivherbalmagic.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json',
},
};
</script>
<script
src="wp-content/plugins/elementor-pro/assets/js/frontend.minaad7.js?ver=3.18.2"
id="elementor-pro-frontend-js"></script>
<script
src="wp-includes/js/jquery/ui/core.minb37e.js?ver=1.13.3"
id="jquery-ui-core-js"></script>
<script id="elementor-frontend-js-before">
var elementorFrontendConfig = {
environmentMode: { edit: false, wpPreview: false, isScriptDebug: false },
i18n: {
    shareOnFacebook: 'Share on Facebook',
    shareOnTwitter: 'Share on Twitter',
    pinIt: 'Pin it',
    download: 'Download',
    downloadImage: 'Download image',
    fullscreen: 'Fullscreen',
    zoom: 'Zoom',
    share: 'Share',
    playVideo: 'Play Video',
    previous: 'Previous',
    next: 'Next',
    close: 'Close',
    a11yCarouselPrevSlideMessage: 'Previous slide',
    a11yCarouselNextSlideMessage: 'Next slide',
    a11yCarouselFirstSlideMessage: 'This is the first slide',
    a11yCarouselLastSlideMessage: 'This is the last slide',
    a11yCarouselPaginationBulletMessage: 'Go to slide',
},
is_rtl: false,
breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
responsive: {
    breakpoints: {
        mobile: {
            label: 'Mobile Portrait',
            value: 767,
            default_value: 767,
            direction: 'max',
            is_enabled: true,
        },
        mobile_extra: {
            label: 'Mobile Landscape',
            value: 880,
            default_value: 880,
            direction: 'max',
            is_enabled: false,
        },
        tablet: {
            label: 'Tablet Portrait',
            value: 1024,
            default_value: 1024,
            direction: 'max',
            is_enabled: true,
        },
        tablet_extra: {
            label: 'Tablet Landscape',
            value: 1200,
            default_value: 1200,
            direction: 'max',
            is_enabled: false,
        },
        laptop: {
            label: 'Laptop',
            value: 1366,
            default_value: 1366,
            direction: 'max',
            is_enabled: false,
        },
        widescreen: {
            label: 'Widescreen',
            value: 2400,
            default_value: 2400,
            direction: 'min',
            is_enabled: false,
        },
    },
    hasCustomBreakpoints: false,
},
version: '3.26.4',
is_static: false,
experimentalFeatures: {
    e_font_icon_svg: true,
    additional_custom_breakpoints: true,
    container: true,
    e_swiper_latest: true,
    e_nested_atomic_repeaters: true,
    e_onboarding: true,
    e_css_smooth_scroll: true,
    theme_builder_v2: true,
    home_screen: true,
    'landing-pages': true,
    'nested-elements': true,
    editor_v2: true,
    'link-in-bio': true,
    'floating-buttons': true,
    'page-transitions': true,
    notes: true,
    'form-submissions': true,
    e_scroll_snap: true,
},
urls: {
    assets: 'https:\/\/axlshivherbalmagic.com\/wp-content\/plugins\/elementor\/assets\/',
    ajaxurl: 'https:\/\/axlshivherbalmagic.com\/wp-admin\/admin-ajax.php',
    uploadUrl: 'https:\/\/axlshivherbalmagic.com\/wp-content\/uploads',
},
nonces: { floatingButtonsClickTracking: '6d043ebf90' },
swiperClass: 'swiper',
settings: { page: [], editorPreferences: [] },
kit: {
    active_breakpoints: ['viewport_mobile', 'viewport_tablet'],
    global_image_lightbox: 'yes',
    lightbox_enable_counter: 'yes',
    lightbox_enable_fullscreen: 'yes',
    lightbox_enable_zoom: 'yes',
    lightbox_enable_share: 'yes',
    lightbox_title_src: 'title',
    lightbox_description_src: 'description',
},
post: {
    id: 4661,
    title: 'AxlShiv%20Herbal%20Magic',
    excerpt: '',
    featuredImage: false,
},
};
</script>
<script
src="wp-content/plugins/elementor/assets/js/frontend.min1c88.js?ver=3.26.4"
id="elementor-frontend-js"></script>
<script
src="wp-content/plugins/elementor-pro/assets/js/preloaded-elements-handlers.minaad7.js?ver=3.18.2"
id="pro-preloaded-elements-handlers-js"></script>
</body>
</html>
