<%- include ('./partials/header') %>

<div class="site-content">
	<div
		class="rishi-container"
		data-strech="none">
		<div class="main-content-wrapper clear">
			<div
				data-elementor-type="wp-page"
				data-elementor-id="4661"
				class="elementor elementor-4661"
				data-elementor-post-type="page">
				<div
					class="elementor-element elementor-element-5aac1a1 e-flex e-con-boxed e-con e-parent"
					data-id="5aac1a1"
					data-element_type="container"
					data-settings='{"background_background":"classic"}'>
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-10598aa e-con-full e-flex e-con e-child"
							data-id="10598aa"
							data-element_type="container">
							<div
								class="elementor-element elementor-element-03108a9 meafe-dualheading-align-left meafe-dualheading-align-center elementor-widget elementor-widget-meafe-dualheading"
								data-id="03108a9"
								data-element_type="widget"
								data-widget_type="meafe-dualheading.default">
								<div class="elementor-widget-container">
									<div class="meafe-dual-header">
										<h2 class="title">
											<span class="main-header">Discover the Future of </span>
											<span>Integrative Medicine</span>
										</h2>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-b4f9474 elementor-widget elementor-widget-text-editor"
								data-id="b4f9474"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>
										Your Natural Health Lab is a premier facility dedicated to
										unraveling the mysteries of cancer through advanced research
										and diagnostic services.
									</p>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-4ca1a6a e-con-full e-flex e-con e-child"
							data-id="4ca1a6a"
							data-element_type="container"
							data-settings='{"background_background":"classic"}'>
							<div
								class="elementor-element elementor-element-3a16ffb elementor-widget__width-auto elementor-absolute elementor-widget elementor-widget-image"
								data-id="3a16ffb"
								data-element_type="widget"
								data-settings='{"_position":"absolute"}'
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img
										fetchpriority="high"
										decoding="async"
										width="500"
										height="500"
										src="wp-content/uploads/2022/02/Ellipse-2.png"
										class="attachment-full size-full wp-image-152"
										alt=""
										sizes="(max-width: 500px) 100vw, 500px" />
								</div>
							</div>
							<div
								class="elementor-element elementor-element-c73b6b6 elementor-widget__width-auto elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
								data-id="c73b6b6"
								data-element_type="widget"
								data-settings='{"_position":"absolute","_animation":"fadeInDown"}'
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img
										loading="lazy"
										decoding="async"
										width="80"
										height="80"
										src="wp-content/uploads/2022/02/Group-58.png"
										class="attachment-full size-full wp-image-159"
										alt="" />
								</div>
							</div>
							<div
								class="elementor-element elementor-element-7b10350 elementor-widget__width-auto elementor-absolute elementor-widget elementor-widget-image"
								data-id="7b10350"
								data-element_type="widget"
								data-settings='{"_position":"absolute"}'
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img
										loading="lazy"
										decoding="async"
										width="180"
										height="208"
										src="wp-content/uploads/2022/02/shapes.png"
										class="attachment-full size-full wp-image-167"
										alt="" />
								</div>
							</div>
							<div
								class="elementor-element elementor-element-7596899 elementor-widget elementor-widget-image"
								data-id="7596899"
								data-element_type="widget"
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img
										loading="lazy"
										decoding="async"
										width="400"
										height="462"
										src="wp-content/uploads/2024/08/okFormer.png"
										class="attachment-full size-full wp-image-5378"
										alt=""
										sizes="(max-width: 400px) 100vw, 400px" />
								</div>
							</div>
							<div
								class="elementor-element elementor-element-11fccc3 elementor-widget__width-auto elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
								data-id="11fccc3"
								data-element_type="widget"
								data-settings='{"_position":"absolute","_animation":"fadeInUp"}'
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img
										loading="lazy"
										decoding="async"
										width="80"
										height="80"
										src="wp-content/uploads/2022/02/Group-59.png"
										class="attachment-full size-full wp-image-163"
										alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-cd005c1 e-flex e-con-boxed e-con e-child"
					data-id="cd005c1"
					data-element_type="container"
					data-settings='{"background_background":"classic"}'>
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-8de5367 e-con-full e-flex e-con e-child"
							data-id="8de5367"
							data-element_type="container"
							data-settings='{"background_background":"classic"}'>
							<div
								class="elementor-element elementor-element-5844703 elementor-view-default elementor-widget elementor-widget-icon"
								data-id="5844703"
								data-element_type="widget"
								data-widget_type="icon.default">
								<div class="elementor-widget-container">
									<div class="elementor-icon-wrapper">
										<div class="elementor-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none">
												<path
													d="M6 14C6 10.6863 8.68629 8 12 8V8C15.3137 8 18 10.6863 18 14V21H6V14Z"
													stroke="white"
													stroke-width="2"
													stroke-linejoin="round"></path>
												<path
													d="M13 12C14 12.5 14 14 14 14"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"></path>
												<line
													x1="12"
													y1="2"
													x2="12"
													y2="4"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"></line>
												<line
													x1="6.36603"
													y1="3.36603"
													x2="7.36603"
													y2="5.09808"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"></line>
												<line
													x1="17.366"
													y1="3.36603"
													x2="16.366"
													y2="5.09808"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"></line>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-99c73c9 elementor-widget elementor-widget-heading"
								data-id="99c73c9"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3
										class="elementor-heading-title elementor-size-default"
										style="color: black">
										Cancer Research and Development
									</h3>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-e9bbb25 elementor-widget elementor-widget-text-editor"
								data-id="e9bbb25"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p style="color: black">
										Our flagship service focuses on groundbreaking research
										aimed at developing an effective cure for cancer using a
										blend of traditional herbal medicine and cutting-edge
										biotechnology.
									</p>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-6049ec5 e-con-full e-flex e-con e-child"
							data-id="6049ec5"
							data-element_type="container"
							data-settings='{"background_background":"classic"}'>
							<div
								class="elementor-element elementor-element-611faf4 elementor-view-default elementor-widget elementor-widget-icon"
								data-id="611faf4"
								data-element_type="widget"
								data-widget_type="icon.default">
								<div class="elementor-widget-container">
									<div class="elementor-icon-wrapper">
										<div class="elementor-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none">
												<circle
													cx="19"
													cy="9"
													r="2"
													stroke="white"
													stroke-width="2"></circle>
												<path
													d="M8 15V15.5C8 18.5376 10.4624 21 13.5 21V21C16.5376 21 19 18.5376 19 15.5V11"
													stroke="white"
													stroke-width="2"></path>
												<path
													d="M5 3H3V10C3 12.7614 5.23858 15 8 15V15C10.7614 15 13 12.7614 13 10V3H11"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"></path>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-8cbd871 elementor-widget elementor-widget-heading"
								data-id="8cbd871"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3
										class="elementor-heading-title elementor-size-default"
										style="color: black">
										Collaborative Partnerships
									</h3>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-bc93dea elementor-widget elementor-widget-text-editor"
								data-id="bc93dea"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p style="color: black">
										We collaborate with research institutions, sponsors, and
										healthcare organizations worldwide to advance our mission
										and accelerate our progress in cancer research and care.
									</p>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-5495853 e-con-full e-flex e-con e-child"
							data-id="5495853"
							data-element_type="container"
							data-settings='{"background_background":"classic"}'>
							<div
								class="elementor-element elementor-element-414474c elementor-view-default elementor-widget elementor-widget-icon"
								data-id="414474c"
								data-element_type="widget"
								data-widget_type="icon.default">
								<div class="elementor-widget-container">
									<div class="elementor-icon-wrapper">
										<div class="elementor-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none">
												<path
													d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"></path>
												<path
													d="M12 6V12L16 14"
													stroke="white"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"></path>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-8d262b3 elementor-widget elementor-widget-heading"
								data-id="8d262b3"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3
										class="elementor-heading-title elementor-size-default"
										style="color: black">
										Precision Diagnostics
									</h3>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-032b6b9 elementor-widget elementor-widget-text-editor"
								data-id="032b6b9"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p style="color: black">
										Our laboratory is equipped with state-of-the-art technology
										with reliable diagnostic services. With a seamless blend of
										traditional and modern medicine, we are paving the way for a
										new era in healthcare.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-74a2e31 e-flex e-con-boxed e-con e-parent"
					data-id="74a2e31"
					data-element_type="container">
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-a2bc919 e-con-full e-flex elementor-invisible e-con e-child"
							data-id="a2bc919"
							data-element_type="container"
							data-settings='{"animation":"fadeIn"}'>
							<div
								class="elementor-element elementor-element-7212e74 elementor-invisible elementor-widget elementor-widget-image"
								data-id="7212e74"
								data-element_type="widget"
								data-settings='{"_animation":"fadeIn"}'
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img
										loading="lazy"
										decoding="async"
										width="2560"
										height="1709"
										src="wp-content/uploads/2024/08/pexels-chokniti-khongchum-1197604-2280571-scaled-1.jpg"
										class="attachment-full size-full wp-image-5385"
										alt=""
										sizes="(max-width: 2560px) 100vw, 2560px" />
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-de85421 e-con-full e-flex e-con e-child"
							data-id="de85421"
							data-element_type="container">
							<div
								class="elementor-element elementor-element-291c730 elementor-widget elementor-widget-heading"
								data-id="291c730"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">
										Welcome to Your Natural Health Lab
									</h2>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-c87b2c7 elementor-widget elementor-widget-text-editor"
								data-id="c87b2c7"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>
										Your Natural Health is your trusted partner in holistic
										healthcare, offering a blend of traditional wisdom and
										modern medicine to promote wellness and healing.
									</p>
									<p>
										At Your Natural Health, we are at the forefront of a
										healthcare revolution. Combining the time-tested wisdom of
										ancient Indian herbal medicine with the latest advancements
										in biotechnology, we are dedicated to developing
										groundbreaking treatments for cancer and other chronic
										conditions. Our holistic approach ensures that our solutions
										are not only effective but also safe and natural.
									</p>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-a9f8dd7 elementor-widget elementor-widget-button"
								data-id="a9f8dd7"
								data-element_type="widget"
								data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a
											class="elementor-button elementor-button-link elementor-size-sm"
											href="/about">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text"
													>More About Us</span
												>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-1e25af0 e-flex e-con-boxed e-con e-parent"
					data-id="1e25af0"
					data-element_type="container"
					data-settings='{"background_background":"classic"}'>
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-2f30309 e-con-full e-flex e-con e-child"
							data-id="2f30309"
							data-element_type="container">
							<div
								class="elementor-element elementor-element-68a9deb elementor-widget elementor-widget-heading"
								data-id="68a9deb"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">
										Join Us on Our Journey
									</h2>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-6475ea4 elementor-widget elementor-widget-text-editor"
								data-id="6475ea4"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>
										We invite you to explore our website and learn more about
										our mission, services, and the groundbreaking work we are
										doing. Together, we can create a healthier, more vibrant
										future.
									</p>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-c45e704 elementor-widget elementor-widget-button"
								data-id="c45e704"
								data-element_type="widget"
								data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a
											class="elementor-button elementor-button-link elementor-size-sm"
											href="/contact">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text"
													>Contact us for Sponsorship & Investment</span
												>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-542f034 e-con-full e-flex e-con e-child"
							data-id="542f034"
							data-element_type="container">
							<div
								class="elementor-element elementor-element-23e957b e-con-full e-flex e-con e-child"
								data-id="23e957b"
								data-element_type="container">
								<div
									class="elementor-element elementor-element-f476793 e-con-full e-flex elementor-invisible e-con e-child"
									data-id="f476793"
									data-element_type="container"
									data-settings='{"background_background":"classic","animation":"fadeIn"}'>
									<div
										class="elementor-element elementor-element-dff4a41 elementor-widget elementor-widget-meafe-counter"
										data-id="dff4a41"
										data-element_type="widget"
										data-widget_type="meafe-counter.default">
										<div class="elementor-widget-container">
											<div
												class="meafe-counter meafe-counter-area"
												data-duration="3000"
												data-from-value="0"
												data-to-value="5"
												data-delimiter=","
												data-rounding="0">
												<div class="meafe-counter-icon top">
													<span
														class="icon"
														data-animation="">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="45"
															height="44"
															viewBox="0 0 45 44"
															fill="none">
															<rect
																x="0.5"
																width="44"
																height="44"
																rx="4"
																fill="CurrentColor"></rect>
															<path
																d="M16.5 12H28.5V18C28.5 21.3137 25.8137 24 22.5 24V24C19.1863 24 16.5 21.3137 16.5 18V12Z"
																stroke="white"
																stroke-width="2"
																stroke-linejoin="round"></path>
															<path
																d="M17.5 31C17.5 29.3431 18.8431 28 20.5 28H24.5C26.1569 28 27.5 29.3431 27.5 31V32H17.5V31Z"
																stroke="white"
																stroke-width="2"></path>
															<rect
																x="20.5"
																y="24"
																width="4"
																height="4"
																stroke="white"
																stroke-width="2"></rect>
															<path
																d="M28.5 14H29.5C31.1569 14 32.5 15.3431 32.5 17V17C32.5 18.6569 31.1569 20 29.5 20H28.5V14Z"
																stroke="white"
																stroke-width="2"></path>
															<path
																d="M12.5 17C12.5 15.3431 13.8431 14 15.5 14H16.5V20H15.5C13.8431 20 12.5 18.6569 12.5 17V17Z"
																stroke="white"
																stroke-width="2"></path>
														</svg>
													</span>
												</div>

												<div class="meafe-init-wrapper top">
													<div class="meafe-counter-wrapper">
														<span
															class=""
															style="font-size: 30px"
															id="counter-dff4a41"
															>0</span
														>

														<span
															id="suffix"
															class="counter-su-pre"
															>+</span
														>
													</div>
													<h4 class="meafe-counter-title">
														Years of Operations
													</h4>
												</div>

												<script>
													window.addEventListener(
														'DOMContentLoaded',
														() => {
															const counterElement =
																document.getElementById(
																	'counter-dff4a41'
																);
															const targetValue = 7; // Target number
															const duration = 2000; // Animation duration in milliseconds
															const frameRate = 1000 / 60; // 60 FPS

															let currentValue = 0;
															const increment =
																targetValue /
																(duration / frameRate);

															function updateCounter() {
																currentValue += increment;
																if (currentValue >= targetValue) {
																	counterElement.textContent =
																		targetValue.toFixed(0); // Ensure it ends cleanly at 10
																} else {
																	counterElement.textContent =
																		Math.floor(currentValue); // Display the current number
																	requestAnimationFrame(
																		updateCounter
																	); // Continue the animation
																}
															}

															updateCounter();
														}
													);
												</script>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-ece04fb e-con-full e-flex e-con e-child"
								data-id="ece04fb"
								data-element_type="container">
								<div
									class="elementor-element elementor-element-f207657 e-con-full e-flex elementor-invisible e-con e-child"
									data-id="f207657"
									data-element_type="container"
									data-settings='{"background_background":"classic","animation":"fadeIn"}'>
									<div
										class="elementor-element elementor-element-920dc38 elementor-widget elementor-widget-meafe-counter"
										data-id="920dc38"
										data-element_type="widget"
										data-widget_type="meafe-counter.default">
										<div class="elementor-widget-container">
											<div
												class="meafe-counter meafe-counter-area"
												data-duration="3000"
												data-from-value="0"
												data-to-value="15"
												data-delimiter=","
												data-rounding="0">
												<div class="meafe-counter-icon top">
													<span
														class="icon"
														data-animation="">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="45"
															height="44"
															viewBox="0 0 45 44"
															fill="none">
															<rect
																x="0.5"
																width="44"
																height="44"
																rx="4"
																fill="CurrentColor"></rect>
															<g clip-path="url(#clip0_78_905)">
																<path
																	d="M26.5 31C26.5 31.5523 26.9477 32 27.5 32C28.0523 32 28.5 31.5523 28.5 31H26.5ZM10.5 31C10.5 31.5523 10.9477 32 11.5 32C12.0523 32 12.5 31.5523 12.5 31H10.5ZM17.9 26H21.1V24H17.9V26ZM21.1 26C24.1441 26 26.5 28.2984 26.5 31H28.5C28.5 27.0742 25.1251 24 21.1 24V26ZM17.9 24C13.8749 24 10.5 27.0742 10.5 31H12.5C12.5 28.2984 14.8559 26 17.9 26V24Z"
																	fill="white"></path>
																<path
																	d="M32.5 31C32.5 31.5523 32.9477 32 33.5 32C34.0523 32 34.5 31.5523 34.5 31H32.5ZM29.8548 24.5012C29.3384 24.3053 28.761 24.565 28.5651 25.0814C28.3691 25.5977 28.6288 26.1751 29.1452 26.3711L29.8548 24.5012ZM29.1452 26.3711C31.1458 27.1303 32.5 28.9421 32.5 31H34.5C34.5 28.0219 32.5451 25.5222 29.8548 24.5012L29.1452 26.3711Z"
																	fill="white"></path>
																<path
																	d="M19.5 21C21.7091 21 23.5 19.2091 23.5 17C23.5 14.7909 21.7091 13 19.5 13C17.2909 13 15.5 14.7909 15.5 17C15.5 19.2091 17.2909 21 19.5 21Z"
																	stroke="white"
																	stroke-width="2"
																	stroke-linecap="round"
																	stroke-linejoin="round"></path>
																<path
																	d="M26.5 13.13C27.3604 13.3503 28.123 13.8507 28.6676 14.5523C29.2122 15.2539 29.5078 16.1168 29.5078 17.005C29.5078 17.8932 29.2122 18.7561 28.6676 19.4577C28.123 20.1593 27.3604 20.6597 26.5 20.88"
																	stroke="white"
																	stroke-width="2"
																	stroke-linecap="round"
																	stroke-linejoin="round"></path>
															</g>
															<defs>
																<clipPath id="clip0_78_905">
																	<rect
																		width="24"
																		height="24"
																		fill="white"
																		transform="translate(10.5 10)"></rect>
																</clipPath>
															</defs>
														</svg>
													</span>
												</div>

												<div class="meafe-init-wrapper top">
													<div class="meafe-counter-wrapper">
														<span
															class=""
															style="font-size: 30px"
															id="counter-920dc38"
															>0</span
														>

														<span
															id="suffix"
															class="counter-su-pre"
															>+</span
														>
													</div>
													<h4 class="meafe-counter-title">Specialist</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<script>
						window.addEventListener('DOMContentLoaded', () => {
							const counterElement = document.getElementById('counter-920dc38');
							const targetValue = 18; // Target number
							const duration = 2000; // Animation duration in milliseconds
							const frameRate = 1000 / 60; // 60 FPS

							let currentValue = 0;
							const increment = targetValue / (duration / frameRate);

							function updateCounter() {
								currentValue += increment;
								if (currentValue >= targetValue) {
									counterElement.textContent = targetValue.toFixed(0); // Ensure it ends cleanly at 10
								} else {
									counterElement.textContent = Math.floor(currentValue); // Display the current number
									requestAnimationFrame(updateCounter); // Continue the animation
								}
							}

							updateCounter();
						});
					</script>
				</div>
				<div
					class="elementor-element elementor-element-230c2143 e-flex e-con-boxed e-con e-parent"
					data-id="230c2143"
					data-element_type="container"
					data-settings='{"background_background":"classic"}'>
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-503ad63 e-flex e-con-boxed e-con e-child"
							data-id="503ad63"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-de9f34c elementor-widget elementor-widget-heading"
									data-id="de9f34c"
									data-element_type="widget"
									data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h2 class="elementor-heading-title elementor-size-default">
											Our Services
										</h2>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-54a58fb0 e-flex e-con-boxed e-con e-child"
							data-id="54a58fb0"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-13104d1e e-con-full e-flex elementor-invisible e-con e-child"
									data-id="13104d1e"
									data-element_type="container"
									data-settings='{"background_background":"classic","animation":"fadeIn"}'>
									<div
										class="elementor-element elementor-element-79cabd55 elementor-view-default elementor-widget elementor-widget-icon"
										data-id="79cabd55"
										data-element_type="widget"
										data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<svg
														aria-hidden="true"
														class="e-font-icon-svg e-fas-book"
														viewBox="0 0 448 512"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z"></path>
													</svg>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-5930ff2d elementor-widget elementor-widget-heading"
										data-id="5930ff2d"
										data-element_type="widget"
										data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3
												class="elementor-heading-title elementor-size-default">
												Advanced Cancer Research and Development
											</h3>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-566d69d3 elementor-widget elementor-widget-text-editor"
										data-id="566d69d3"
										data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>
												Our primary focus is on pioneering cancer research
												that combines traditional Indian herbal medicine
												with modern biotechnology.
											</p>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-574d0515 e-con-full e-flex elementor-invisible e-con e-child"
									data-id="574d0515"
									data-element_type="container"
									data-settings='{"background_background":"classic","animation":"fadeIn"}'>
									<div
										class="elementor-element elementor-element-45d980aa elementor-view-default elementor-widget elementor-widget-icon"
										data-id="45d980aa"
										data-element_type="widget"
										data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<svg
														aria-hidden="true"
														class="e-font-icon-svg e-fas-pump-medical"
														viewBox="0 0 384 512"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M235.51,159.82H84.24A64,64,0,0,0,20.51,218L.14,442a64,64,0,0,0,63.74,69.8h192A64,64,0,0,0,319.61,442L299.24,218A64,64,0,0,0,235.51,159.82Zm4.37,173.33a13.35,13.35,0,0,1-13.34,13.34h-40v40a13.33,13.33,0,0,1-13.33,13.33H146.54a13.33,13.33,0,0,1-13.33-13.33v-40h-40a13.34,13.34,0,0,1-13.33-13.34V306.49a13.33,13.33,0,0,1,13.33-13.34h40v-40a13.33,13.33,0,0,1,13.33-13.33h26.67a13.33,13.33,0,0,1,13.33,13.33v40h40a13.34,13.34,0,0,1,13.34,13.34ZM379.19,93.88,335.87,50.56a64,64,0,0,0-45.24-18.74H223.88a32,32,0,0,0-32-32h-64a32,32,0,0,0-32,32v96h128v-32h66.75l43.31,43.31a16,16,0,0,0,22.63,0l22.62-22.62A16,16,0,0,0,379.19,93.88Z"></path>
													</svg>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-2966a1f0 elementor-widget elementor-widget-heading"
										data-id="2966a1f0"
										data-element_type="widget"
										data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3
												class="elementor-heading-title elementor-size-default">
												Herbal Pharmacology Studies
											</h3>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-734d05e8 elementor-widget elementor-widget-text-editor"
										data-id="734d05e8"
										data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>
												At Ashiv, we delve into the pharmacological
												properties of ancient Indian herbs, studying their
												active compounds and mechanisms of action. 
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-597164cc e-flex e-con-boxed e-con e-child"
							data-id="597164cc"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-752033d7 e-con-full e-flex elementor-invisible e-con e-child"
									data-id="752033d7"
									data-element_type="container"
									data-settings='{"background_background":"classic","animation":"fadeIn"}'>
									<div
										class="elementor-element elementor-element-4f4b99d3 elementor-view-default elementor-widget elementor-widget-icon"
										data-id="4f4b99d3"
										data-element_type="widget"
										data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<svg
														aria-hidden="true"
														class="e-font-icon-svg e-far-hospital"
														viewBox="0 0 448 512"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M128 244v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12zm140 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12zm-76 84v-40c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12zm76 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12zm180 124v36H0v-36c0-6.627 5.373-12 12-12h19.5V85.035C31.5 73.418 42.245 64 55.5 64H144V24c0-13.255 10.745-24 24-24h112c13.255 0 24 10.745 24 24v40h88.5c13.255 0 24 9.418 24 21.035V464H436c6.627 0 12 5.373 12 12zM79.5 463H192v-67c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v67h112.5V112H304v24c0 13.255-10.745 24-24 24H168c-13.255 0-24-10.745-24-24v-24H79.5v351zM266 64h-26V38a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v26h-26a6 6 0 0 0-6 6v20a6 6 0 0 0 6 6h26v26a6 6 0 0 0 6 6h20a6 6 0 0 0 6-6V96h26a6 6 0 0 0 6-6V70a6 6 0 0 0-6-6z"></path>
													</svg>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-6d87d02e elementor-widget elementor-widget-heading"
										data-id="6d87d02e"
										data-element_type="widget"
										data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3
												class="elementor-heading-title elementor-size-default">
												Personalized Medicine Research
											</h3>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-3317423f elementor-widget elementor-widget-text-editor"
										data-id="3317423f"
										data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>
												Our research includes exploring personalized
												medicine approaches that tailor treatments to
												individual genetic profiles and specific health
												conditions, using herbal solutions. 
											</p>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-53288b51 e-con-full e-flex elementor-invisible e-con e-child"
									data-id="53288b51"
									data-element_type="container"
									data-settings='{"background_background":"classic","animation":"fadeIn"}'>
									<div
										class="elementor-element elementor-element-bb39822 elementor-view-default elementor-widget elementor-widget-icon"
										data-id="bb39822"
										data-element_type="widget"
										data-widget_type="icon.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-wrapper">
												<div class="elementor-icon">
													<svg
														aria-hidden="true"
														class="e-font-icon-svg e-fas-search-location"
														viewBox="0 0 512 512"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M505.04 442.66l-99.71-99.69c-4.5-4.5-10.6-7-17-7h-16.3c27.6-35.3 44-79.69 44-127.99C416.03 93.09 322.92 0 208.02 0S0 93.09 0 207.98s93.11 207.98 208.02 207.98c48.3 0 92.71-16.4 128.01-44v16.3c0 6.4 2.5 12.5 7 17l99.71 99.69c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.59.1-33.99zm-297.02-90.7c-79.54 0-144-64.34-144-143.98 0-79.53 64.35-143.98 144-143.98 79.54 0 144 64.34 144 143.98 0 79.53-64.35 143.98-144 143.98zm.02-239.96c-40.78 0-73.84 33.05-73.84 73.83 0 32.96 48.26 93.05 66.75 114.86a9.24 9.24 0 0 0 14.18 0c18.49-21.81 66.75-81.89 66.75-114.86 0-40.78-33.06-73.83-73.84-73.83zm0 96c-13.26 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"></path>
													</svg>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-22903610 elementor-widget elementor-widget-heading"
										data-id="22903610"
										data-element_type="widget"
										data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3
												class="elementor-heading-title elementor-size-default">
												Collaborative Research Initiatives
											</h3>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-2de44964 elementor-widget elementor-widget-text-editor"
										data-id="2de44964"
										data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>
												We actively seek collaborations with other research
												institutions, individuals, and pharmaceutical
												companies to advance the field of integrative
												medicine and herbal research. 
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-86ae2af elementor-align-center elementor-widget elementor-widget-button"
							data-id="86ae2af"
							data-element_type="widget"
							data-widget_type="button.default">
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									<a
										class="elementor-button elementor-button-link elementor-size-sm"
										href="/services">
										<span class="elementor-button-content-wrapper">
											<span class="elementor-button-text"
												>View All Service</span
											>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-bfbc6a4 e-flex e-con-boxed e-con e-parent"
					data-id="bfbc6a4"
					data-element_type="container">
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-a799be4 e-flex e-con-boxed e-con e-child"
							data-id="a799be4"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-41e70a5 elementor-widget elementor-widget-heading"
									data-id="41e70a5"
									data-element_type="widget"
									data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h2 class="elementor-heading-title elementor-size-default">
											Why Choose Us?
										</h2>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-4295dad e-flex e-con-boxed e-con e-child"
							data-id="4295dad"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-d582456 e-con-full e-flex e-con e-child"
									data-id="d582456"
									data-element_type="container">
									<div
										class="elementor-element elementor-element-3eb5b55 elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
										data-id="3eb5b55"
										data-element_type="widget"
										data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">
												<div class="elementor-icon-box-icon">
													<span
														class="elementor-icon elementor-animation-">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="60"
															height="60"
															viewBox="0 0 60 60"
															fill="none">
															<rect
																width="60"
																height="60"
																rx="30"
																fill="#DCE8FA"></rect>
															<path
																d="M24 32C24 28.6863 26.6863 26 30 26V26C33.3137 26 36 28.6863 36 32V39H24V32Z"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linejoin="round"
																fill="none"></path>
															<path
																d="M31 30C32 30.5 32 32 32 32"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																stroke-linejoin="round"
																fill="none"></path>
															<line
																x1="30"
																y1="20"
																x2="30"
																y2="22"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																fill="none"></line>
															<line
																x1="24.366"
																y1="21.366"
																x2="25.366"
																y2="23.0981"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																fill="none"></line>
															<line
																x1="35.366"
																y1="21.366"
																x2="34.366"
																y2="23.0981"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																fill="none"></line>
														</svg>
													</span>
												</div>

												<div class="elementor-icon-box-content">
													<h3 class="elementor-icon-box-title">
														<span> Innovative Research </span>
													</h3>

													<p class="elementor-icon-box-description">
														Our cutting-edge research blends traditional
														herbal knowledge with modern science to
														create unique, effective treatments.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-3d0097a elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
										data-id="3d0097a"
										data-element_type="widget"
										data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">
												<div class="elementor-icon-box-icon">
													<span
														class="elementor-icon elementor-animation-">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="60"
															height="60"
															viewBox="0 0 60 60"
															fill="none">
															<rect
																width="60"
																height="60"
																rx="30"
																fill="#DCE8FA"></rect>
															<path
																d="M34 39C34 39.5523 34.4477 40 35 40C35.5523 40 36 39.5523 36 39H34ZM18 39C18 39.5523 18.4477 40 19 40C19.5523 40 20 39.5523 20 39H18ZM25.4 34H28.6V32H25.4V34ZM28.6 34C31.6441 34 34 36.2984 34 39H36C36 35.0742 32.6251 32 28.6 32V34ZM25.4 32C21.3749 32 18 35.0742 18 39H20C20 36.2984 22.3559 34 25.4 34V32Z"
																fill="CurrentColor"></path>
															<path
																d="M40 38.9999C40 39.5522 40.4477 39.9999 41 39.9999C41.5523 39.9999 42 39.5522 42 38.9999H40ZM37.3548 32.5011C36.8384 32.3051 36.261 32.5649 36.0651 33.0812C35.8691 33.5976 36.1288 34.175 36.6452 34.371L37.3548 32.5011ZM36.6452 34.371C38.6458 35.1302 40 36.9419 40 38.9999H42C42 36.0218 40.0451 33.5221 37.3548 32.5011L36.6452 34.371Z"
																fill="CurrentColor"></path>
															<path
																d="M27 29C29.2091 29 31 27.2091 31 25C31 22.7909 29.2091 21 27 21C24.7909 21 23 22.7909 23 25C23 27.2091 24.7909 29 27 29Z"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																stroke-linejoin="round"
																fill="none"></path>
															<path
																d="M34 21.1299C34.8604 21.3502 35.623 21.8506 36.1676 22.5522C36.7122 23.2538 37.0078 24.1167 37.0078 25.0049C37.0078 25.8931 36.7122 26.756 36.1676 27.4576C35.623 28.1592 34.8604 28.6596 34 28.8799"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																stroke-linejoin="round"
																fill="none"></path>
														</svg>
													</span>
												</div>

												<div class="elementor-icon-box-content">
													<h3 class="elementor-icon-box-title">
														<span> Expert Team </span>
													</h3>

													<p class="elementor-icon-box-description">
														Our team of scientists, herbalists, and
														biotechnologists are leaders in their
														fields, committed to excellence and
														innovation.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-bc111f3 e-con-full e-flex e-con e-child"
									data-id="bc111f3"
									data-element_type="container">
									<div
										class="elementor-element elementor-element-7d70ff6 elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
										data-id="7d70ff6"
										data-element_type="widget"
										data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">
												<div class="elementor-icon-box-icon">
													<span
														class="elementor-icon elementor-animation-">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="60"
															height="60"
															viewBox="0 0 60 60"
															fill="none">
															<rect
																width="60"
																height="60"
																rx="30"
																fill="#DCE8FA"></rect>
															<path
																d="M26.5 29C28.7091 29 30.5 27.2091 30.5 25C30.5 22.7909 28.7091 21 26.5 21C24.2909 21 22.5 22.7909 22.5 25C22.5 27.2091 24.2909 29 26.5 29Z"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																stroke-linejoin="round"
																fill="none"></path>
															<path
																d="M35 29L37 31L41 27"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																stroke-linejoin="round"
																fill="none"></path>
															<path
																d="M33 39C33 39.5523 33.4477 40 34 40C34.5523 40 35 39.5523 35 39H33ZM18 39C18 39.5523 18.4477 40 19 40C19.5523 40 20 39.5523 20 39H18ZM25 34H28V32H25V34ZM28 34C30.7614 34 33 36.2386 33 39H35C35 35.134 31.866 32 28 32V34ZM25 32C21.134 32 18 35.134 18 39H20C20 36.2386 22.2386 34 25 34V32Z"
																fill="CurrentColor"></path>
														</svg>
													</span>
												</div>

												<div class="elementor-icon-box-content">
													<h3 class="elementor-icon-box-title">
														<span> Holistic Approach </span>
													</h3>

													<p class="elementor-icon-box-description">
														We focus on the whole person, not just the
														disease, ensuring comprehensive and
														personalized care.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-3efcbff elementor-position-left elementor-vertical-align-middle elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box"
										data-id="3efcbff"
										data-element_type="widget"
										data-widget_type="icon-box.default">
										<div class="elementor-widget-container">
											<div class="elementor-icon-box-wrapper">
												<div class="elementor-icon-box-icon">
													<span
														class="elementor-icon elementor-animation-">
														<svg
															xmlns="http://www.w3.org/2000/svg"
															width="60"
															height="60"
															viewBox="0 0 60 60"
															fill="none">
															<rect
																width="60"
																height="60"
																rx="30"
																fill="#DCE8FA"></rect>
															<path
																d="M30.0035 24L29.0873 25.7816C28.8818 26.1743 29.053 26.5 29.4555 26.5H30.543C30.954 26.5 31.1167 26.8257 30.9112 27.2184L30.0035 29"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																stroke-linejoin="round"
																fill="none"></path>
															<path
																d="M33 33.3264L32.5709 32.4231C32.2222 32.5888 32 32.9403 32 33.3264H33ZM27 33.3264H28C28 32.9403 27.7778 32.5888 27.4291 32.4231L27 33.3264ZM27 37H26C26 37.5523 26.4477 38 27 38V37ZM33 37V38C33.5523 38 34 37.5523 34 37H33ZM36 27C36 29.392 34.6003 31.459 32.5709 32.4231L33.4291 34.2296C36.1296 32.9468 38 30.1928 38 27H36ZM30 21C33.3137 21 36 23.6863 36 27H38C38 22.5817 34.4183 19 30 19V21ZM24 27C24 23.6863 26.6863 21 30 21V19C25.5817 19 22 22.5817 22 27H24ZM27.4291 32.4231C25.3997 31.459 24 29.392 24 27H22C22 30.1928 23.8704 32.9468 26.5709 34.2296L27.4291 32.4231ZM28 37V33.3264H26V37H28ZM33 36H27V38H33V36ZM32 33.3264V37H34V33.3264H32Z"
																fill="CurrentColor"></path>
															<line
																x1="29"
																y1="41"
																x2="31"
																y2="41"
																stroke="CurrentColor"
																stroke-width="2"
																stroke-linecap="round"
																fill="none"></line>
														</svg>
													</span>
												</div>

												<div class="elementor-icon-box-content">
													<h3 class="elementor-icon-box-title">
														<span>
															Integration of Traditional and Modern
															Medicine
														</span>
													</h3>

													<p class="elementor-icon-box-description">
														At Your Natural Health Laboratory, we blend
														the wisdom of traditional healing practices
														with modern medical techniques to offer the
														best possible care to our patients.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-19d0349 e-flex e-con-boxed e-con e-parent"
					data-id="19d0349"
					data-element_type="container"
					data-settings='{"background_background":"classic"}'>
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-1b9031a e-con-full e-flex e-con e-child"
							data-id="1b9031a"
							data-element_type="container"
							data-settings='{"background_background":"classic"}'>
							<div
								class="elementor-element elementor-element-a7245f4 elementor-widget elementor-widget-heading"
								data-id="a7245f4"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3 class="elementor-heading-title elementor-size-default">
										Our Groundbreaking Research Progress on Cancer
									</h3>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-69d0f7a elementor-widget elementor-widget-text-editor"
								data-id="69d0f7a"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p class="elementor-heading-title elementor-size-default">
										<strong
											>Phase I: Preliminary Efficacy and Safety Trials</strong
										>
									</p>
									<p>
										In the first phase of our clinical trials, we focused on
										evaluating the preliminary efficacy and safety of our
										formulation. This phase involved in vitro (lab-based)
										studies and in vivo (animal) studies. 
									</p>
									<p> </p>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-82cd7ea elementor-widget elementor-widget-text-editor"
								data-id="82cd7ea"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p class="elementor-heading-title elementor-size-default">
										<strong>Phase II: Clinical Trials on Human Subjects</strong>
									</p>
									<p>
										The second phase involved clinical trials with human
										participants. We conducted a double-blind,
										placebo-controlled study with a diverse group of patients
										suffering from different stages and types of cancer.
									</p>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-0b3cd9a elementor-widget elementor-widget-text-editor"
								data-id="0b3cd9a"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p class="elementor-heading-title elementor-size-default">
										<strong
											>Anticipation for Phase III: Final Validation</strong
										>
									</p>
									<p>
										As we await the commencement of Phase III, our focus is on
										the final validation of our treatment. This phase will
										involve a larger cohort of participants across multiple
										centers globally, aiming to confirm the efficacy, safety,
										and reproducibility of our findings.
									</p>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-b8aa610 elementor-align-center elementor-widget elementor-widget-button"
								data-id="b8aa610"
								data-element_type="widget"
								data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<a
											class="elementor-button elementor-button-link elementor-size-sm"
											href="./about">
											<span class="elementor-button-content-wrapper">
												<span class="elementor-button-text"
													>Learn more</span
												>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-7ae45ea e-con-full e-flex e-con e-child"
							data-id="7ae45ea"
							data-element_type="container">
							<div
								class="elementor-element elementor-element-e0a481b elementor-widget elementor-widget-heading"
								data-id="e0a481b"
								data-element_type="widget"
								data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">
										Healing Thousands of Life.
									</h2>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-639ffd2 elementor-widget elementor-widget-text-editor"
								data-id="639ffd2"
								data-element_type="widget"
								data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>
										“<em
											>I&#8217;ve been following Your Natural Health Solutions
											for years, and the personalized consultations and herbal
											recommendations from Michael Tyrone Silva himself have
											been invaluable. Their remedies have significantly
											improved my heart condition, even though it&#8217;s not
											their primary focus. I&#8217;m eagerly anticipating
											their upcoming cancer solution and have full confidence
											that it will be as magical as their name suggests.
											Michael Tyrone Silva Herbal Solutions has truly made a
											remarkable difference in my health journey.</em
										>”
									</p>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-7aa4881 e-con-full e-flex e-con e-child"
								data-id="7aa4881"
								data-element_type="container">
								<div
									class="elementor-element elementor-element-eaf5c64 elementor-widget elementor-widget-image"
									data-id="eaf5c64"
									data-element_type="widget"
									data-widget_type="image.default">
									<div class="elementor-widget-container">
										<img
											loading="lazy"
											decoding="async"
											width="60"
											height="60"
											src="wp-content/uploads/2022/02/Ellipse-130.png"
											class="attachment-full size-full wp-image-672"
											alt="" />
									</div>
								</div>
								<div
									class="elementor-element elementor-element-b23d47d e-con-full e-flex e-con e-child"
									data-id="b23d47d"
									data-element_type="container">
									<div
										class="elementor-element elementor-element-0b7af4a elementor-widget elementor-widget-heading"
										data-id="0b7af4a"
										data-element_type="widget"
										data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2
												class="elementor-heading-title elementor-size-default">
												Luies Michel
											</h2>
										</div>
									</div>
									<div
										class="elementor-element elementor-element-9d89bc4 elementor-widget elementor-widget-text-editor"
										data-id="9d89bc4"
										data-element_type="widget"
										data-widget_type="text-editor.default">
										<div class="elementor-widget-container">Heart Patient</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-6ad429a2 e-flex e-con-boxed e-con e-parent"
					data-id="6ad429a2"
					data-element_type="container">
					<div class="e-con-inner">
						<div
							class="elementor-element elementor-element-329a608a e-flex e-con-boxed e-con e-child"
							data-id="329a608a"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-6c46665b elementor-widget elementor-widget-heading"
									data-id="6c46665b"
									data-element_type="widget"
									data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h2 class="elementor-heading-title elementor-size-default">
											Meet Our Team
										</h2>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-43416454 elementor-widget elementor-widget-text-editor"
									data-id="43416454"
									data-element_type="widget"
									data-widget_type="text-editor.default">
									<div class="elementor-widget-container">
										<p>
											We are proud to have assembled a team of dedicated
											professionals who are passionate about holistic
											healthcare.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-6bbc1178 e-flex e-con-boxed e-con e-child"
							data-id="6bbc1178"
							data-element_type="container">
							<div class="e-con-inner">
								<div
									class="elementor-element elementor-element-7ec0baf6 elementor-invisible elementor-widget elementor-widget-meafe-team"
									data-id="7ec0baf6"
									data-element_type="widget"
									data-settings='{"_animation":"fadeIn"}'
									data-widget_type="meafe-team.default">
									<div class="elementor-widget-container">
										<div class="meafe-team-wrapper-main layout-1">
											<div class="meafe-team-inner-wrap">
												<div class="meafe-team-wrap">
													<div class="meafe-team-fig">
														<figure class="meafe-member-figure">
															<img
																loading="lazy"
																decoding="async"
																width="263"
																height="263"
																src="wp-content/uploads/2024/08/okFormer.png"
																class="attachment-full size-full wp-image-5359"
																alt=""
																sizes="(max-width: 263px) 100vw, 263px" />
														</figure>
													</div>

													<div class="meafe-member-body">
														<h3 class="meafe-member-name">
															Dr.Michael Tyrone Silva
														</h3>
														<div class="meafe-member-position">
															CEO/Founder
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-2a85d19e elementor-invisible elementor-widget elementor-widget-meafe-team"
									data-id="2a85d19e"
									data-element_type="widget"
									data-settings='{"_animation":"fadeIn"}'
									data-widget_type="meafe-team.default">
									<div class="elementor-widget-container">
										<div class="meafe-team-wrapper-main layout-1">
											<div class="meafe-team-inner-wrap">
												<div class="meafe-team-wrap">
													<div class="meafe-team-fig">
														<figure class="meafe-member-figure">
															<img
																loading="lazy"
																decoding="async"
																width="263"
																height="263"
																src="wp-content/uploads/2024/08/egbon.png"
																class="attachment-full size-full wp-image-5368"
																alt=""
																sizes="(max-width: 263px) 100vw, 263px" />
														</figure>
													</div>

													<div class="meafe-member-body">
														<h3 class="meafe-member-name">
															Dr. Michael Liam
														</h3>
														<div class="meafe-member-position">
															Research Team Leader
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-3606a975 elementor-invisible elementor-widget elementor-widget-meafe-team"
									data-id="3606a975"
									data-element_type="widget"
									data-settings='{"_animation":"fadeIn"}'
									data-widget_type="meafe-team.default">
									<div class="elementor-widget-container">
										<div class="meafe-team-wrapper-main layout-1">
											<div class="meafe-team-inner-wrap">
												<div class="meafe-team-wrap">
													<div class="meafe-team-fig">
														<figure class="meafe-member-figure">
															<img
																loading="lazy"
																decoding="async"
																width="263"
																height="263"
																src="wp-content/uploads/2024/08/d1.png"
																class="attachment-full size-full wp-image-5369"
																alt=""
																sizes="(max-width: 263px) 100vw, 263px" />
														</figure>
													</div>

													<div class="meafe-member-body">
														<h3 class="meafe-member-name">
															Dr Steve Bennett
														</h3>
														<div class="meafe-member-position">
															Research Doctor
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-7f65dcf5 elementor-invisible elementor-widget elementor-widget-meafe-team"
									data-id="7f65dcf5"
									data-element_type="widget"
									data-settings='{"_animation":"fadeIn"}'
									data-widget_type="meafe-team.default">
									<div class="elementor-widget-container">
										<div class="meafe-team-wrapper-main layout-1">
											<div class="meafe-team-inner-wrap">
												<div class="meafe-team-wrap">
													<div class="meafe-team-fig">
														<figure class="meafe-member-figure">
															<img
																loading="lazy"
																decoding="async"
																width="263"
																height="263"
																src="wp-content/uploads/2024/08/d2.png"
																class="attachment-full size-full wp-image-5367"
																alt=""
																sizes="(max-width: 263px) 100vw, 263px" />
														</figure>
													</div>

													<div class="meafe-member-body">
														<h3 class="meafe-member-name">
															Dr Rivers Taylor
														</h3>
														<div class="meafe-member-position">
															Research Doctor
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-77675738 elementor-invisible elementor-widget elementor-widget-meafe-team"
									data-id="77675738"
									data-element_type="widget"
									data-settings='{"_animation":"fadeIn"}'
									data-widget_type="meafe-team.default">
									<div class="elementor-widget-container">
										<div class="meafe-team-wrapper-main layout-1">
											<div class="meafe-team-inner-wrap">
												<div class="meafe-team-wrap">
													<div class="meafe-team-fig">
														<figure class="meafe-member-figure">
															<img
																loading="lazy"
																decoding="async"
																width="263"
																height="263"
																src="wp-content/uploads/2024/08/5.jpg"
																class="attachment-full size-full wp-image-5370"
																alt=""
																sizes="(max-width: 263px) 100vw, 263px" />
														</figure>
													</div>

													<div class="meafe-member-body">
														<h3 class="meafe-member-name">
															Dr. Donald Bridge
														</h3>
														<div class="meafe-member-position">
															Lab Expert
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-e8086eb elementor-invisible elementor-widget elementor-widget-meafe-team"
									data-id="e8086eb"
									data-element_type="widget"
									data-settings='{"_animation":"fadeIn"}'
									data-widget_type="meafe-team.default">
									<div class="elementor-widget-container">
										<div class="meafe-team-wrapper-main layout-1">
											<div class="meafe-team-inner-wrap">
												<div class="meafe-team-wrap">
													<div class="meafe-team-fig">
														<figure class="meafe-member-figure">
															<img
																loading="lazy"
																decoding="async"
																width="263"
																height="263"
																src="wp-content/uploads/2024/11/3.jpg"
																class="attachment-full size-full wp-image-5405"
																alt=""
																sizes="(max-width: 263px) 100vw, 263px" />
														</figure>
													</div>

													<div class="meafe-member-body">
														<h3 class="meafe-member-name">
															Moore Christopher
														</h3>
														<div class="meafe-member-position">
															Distributor/Marketer
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .main-content-wrapper -->
	</div>
	<!-- .rishi-container-->
</div>
<!-- .site-content -->
<%- include ('./partials/footer') %>
