<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Booking Success</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="bg-gray-100 flex items-center justify-center h-screen">
		<div class="bg-white p-8 rounded-lg shadow-lg max-w-md text-center">
			<div class="flex justify-center mb-4">
				<svg
					class="w-16 h-16 text-green-500"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M9 12l2 2l4-4m1-4a9 9 0 11-6.32 15.9A9 9 0 0112 3z"></path>
				</svg>
			</div>
			<h1 class="text-2xl font-bold text-gray-800 mb-2">Message Sent!</h1>
			<p class="text-gray-600 mb-4">
				Thank you for messaging us. We would get back to you immediately.
			</p>
			<div class="flex justify-center mb-4"></div>
			<div class="flex justify-center">
				<a
					href="/"
					class="text-blue-500 hover:underline"
					>Back to Home</a
				>
			</div>
		</div>
	</body>
</html>
